
.list-header {
  padding: 10px;
  color: #4BB2D0;
  text-align: left;
}

.card-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  height: auto;
  background-color: #E3EEF1;
  margin: 10px;
  color: black;
  text-align: left;
  vertical-align: middle;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img {
  float:right;
}

