<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let recipe of recipes">
        <td>{{ recipe.mealid }}</td>
        <td>{{ recipe.title }}</td>
        <td>{{ recipe.description }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
