<div class="search">
  <form class="example" (ngSubmit)="search()" action="">
    <input type="text" [(ngModel)]="word" placeholder="Search by keyword or ingredient..." name="search">
    <button type="submit" (click)="search()"><i class="fa fa-search"></i></button>
  </form>
  <div [hidden]="hide">
    <p class="results">showing {{total}} of 13,700 recipes</p>
  </div>
</div>

<div class="row">

  <div class="card-data">
    <div class="card" *ngFor="let recipe of recipes; let i=index">
      <img class="card-img-top" src="{{recipe.image_url}}" alt="Image not found">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <h6 class="card-description">{{ recipe.description }}</h6>
      </div>
      <div class="card-footer">
        <a routerLink="/recipe-info/{{recipe.mealid}}" class="card-link">More Info</a>
      </div>
    </div>
  </div>

</div>
