.title {
  padding: 10px;
  color: #4BB2D0;
  text-align: center;
}

h5 {
  padding: 10px;
  margin-top: 10px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
  color: #848484;
}

.col_2 {
  float: left;
  width: 30%;
  padding: 5px;
  height: auto
}

.row {
  color: #848484;
}

.img {
  width: 100%;
  height: 450px;
}

.protein {
  color: pink;
  text-align: right;
  margin-right: 100px;
}

.carbs {
  color: lightblue;
  text-align: right;
  margin-right: 100px;
}

.fat {
  color: orange;
  text-align: right;
  margin-right: 100px;
}

.piechart {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

body,
  .piechart {
      display: flex;
      justify-content: center;
      align-items: center;
  }

* {
  box-sizing: border-box;
}

.list2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list2 li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-align: right;
}
