<div class="row">
  <div class="card-data">

    <div class="card">
      <img class="card-img-top" src="assets/img/orla.jpg" alt="Image not found">
      <div class="card-body">
        <h5 class="card-title">Pre Exercise</h5>
        <h6 class="card-description">Recipes that will properly fuel your body for intense exercise or a game.</h6>
      </div>
      <div class="card-footer">
        <a routerLink="/pre" class="card-link">Recipes</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/laoise.jpg" alt="Image not found">
      <div class="card-body">
        <h5 class="card-title">Post Exercise</h5>
        <h6 class="card-description">Recipes that will help your body repair and refuel after intense exercise or a game</h6>
      </div>
      <div class="card-footer">
        <a routerLink="/post" class="card-link">Recipes</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/recoverypic.png" alt="Image not found">
      <div class="card-body">
        <h5 class="card-title">Recovery Day</h5>
        <h6 class="card-description">Recipes for the day after exercise that replace fuel stores, repair damage muscle tissue, and reduce inflammation</h6>
      </div>
      <div class="card-footer">
        <a routerLink="/recovery" class="card-link">Recipes</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/img/jump.JPG" alt="Image not found">
      <div class="card-body">
        <h5 class="card-title">Everyday Healthy</h5>
        <h6 class="card-description">Recipes that promote a healthy lifestyle</h6>
      </div>
      <div class="card-footer">
        <a routerLink="healthy" class="card-link">Recipes</a>
      </div>
    </div>

  </div>

</div>
